.nav {
  display: flex;
  height: 50px;
  position: sticky;
  overflow-x: hidden;
  top: 0;
  align-items: center;
  background: linear-gradient(#6e9ed8, #233447);
  margin: 0px 0px 50px 0px;
  border-radius: 10px;
  ul {
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
      font-weight: bold;
      transition: linear 0.3s;
    }
    a:hover {
      border-bottom: 1px solid $colorBorderBott;
    }
  }
}

@media (max-width: 767px) {
  .nav {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: fixed; //?
    right: -100%;
    align-items: center;
    z-index: 1;
    background: none;
    background-color: $colorBcGnd;
    padding: 0 10%;
    transition: right 0.3s ease-in;
    ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      li {
        font-size: 35px;
        padding: 0px 0px 20px 0px;
        border-bottom: 1px solid $colorBorderBott;
      }
    }
  }
}

.nav__open {
  right: 0;
  ul {
    a:hover {
      border-bottom: none;
    }
  }
}

.nav__burger {
  display: none;
  position: fixed;
  right: 3px;
  top: 3px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
  cursor: pointer;
  text-align: center;
  background-color: #666666;
}

@media (max-width: 767px) {
  .nav__burger {
    z-index: 2;
    display: block;
    opacity: 0.7;
  }
}

.nav__burger-line {
  display: block;
  position: absolute;
  top: 50%;
  left: 13px;
  right: 13px;
  height: 2px;
  background-color: #fff;
  transition-duration: 0s 0.3s;
  transition-delay: 0.3s;
}

.nav__burger-line::before,
.nav__burger-line::after {
  position: absolute;
  left: 0px;
  height: 2px;
  width: 100%;
  background-color: #fff;
  content: "";
  transition: 0.3s linear;
}

.nav__burger-line::before {
  top: -15px;
}

.nav__burger-line::after {
  top: 15px;
}

.nav__burger-active {
  background: none;
  transition: 0s;
}

.nav__burger-active::before {
  top: 0;
  transform: rotate(45deg);
}

.nav__burger-active::after {
  top: 0;
  transform: rotate(-45deg);
}
