@charset "UTF-8";
@import "_default";
@import "_fonts";

%borderBot {
  border-bottom: 2px solid #6b6b6b;
  margin: 0px 0px 15px 0px;
}

body {
  font-family: Roboto;
  font-size: 20px;
  color: #fff;
}

.container { //? Нужен ли?
  margin: 0px 0px 0px 55px;
  width: calc(880px - 110px);
}

.title {
  line-height: 23px;
  letter-spacing: 0.15em;
  font-weight: bold;
  font-size: 22px;
}

.main__container {
  // max-width: 880px; // ? подумать
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(#C4C4C4, #1D4025B5);
  text-align: center; 
}

.wrapper {
  width: 880px;
  margin: 0 auto;
  // background-color: rgb(190, 236, 129);
}

.nav {
  display: flex;
  height: 50px;
  align-items: center;
  background: linear-gradient(#B9B7B7, #1D4025F5);

  ul {
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

.profile {
  // height: 195px;
  display: flex;
  align-items: center;
  @extend %borderBot;
 }

 .profile__container {
  display: flex;
  margin: 50px 0px 50px 55px;
}


.profile__foto {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
 }

.profile__description {
  margin: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
 }

.profile__desc-name {
  margin: 0px 0px 15px 0px;
  }

.profile__desc-proffesion {
  font-size: 22px;
  font-weight: bold;
 }

 .contacts {
  @extend %borderBot;
  }

.contacts__container {
  margin: 0px 0px 50px 55px
}

 .contacts__title {
   margin: 0px 0px 20px 0px;
  }

 .contacts__desc {
   text-align: left;
   li {
    margin: 0px 0px 10px 0px;
   }
  }

