@charset "UTF-8";
@import "_default";
@import "_fonts";

%borderBot {
  margin: 0px 50px 20px 55px;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(
    to right top,
    #fffb00,
    rgb(255, 230, 0),
    #fffb00
  ); //(mix-blend-mode:difference);
  border-image-slice: 1;
  @media (max-width: 767px) {
    margin: 0px 10px 5px 10px;
  }
}

body {
  font-family: Roboto;
  font-size: 20px;
  color: #fff;
  background: #314a68;
}

.container {
  margin: 0 auto;
  width: calc(880px - 110px);
}

.title {
  line-height: 23px;
  letter-spacing: 0.15em;
  font-weight: bold;
  font-size: 22px;
  margin: 0px 0px 30px 0px;
}

.main__container {
  max-width: 1280px; // ?
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: #314a68;
  text-align: center;
}

.wrapper {
  max-width: 880px;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 50px;
  position: sticky;
  top: 0;
  align-items: center;
  background: linear-gradient(#6e9ed8, #233447);
  margin: 0px 0px 50px 0px;
  border-radius: 10px;

  ul {
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    a {
      color: #fff;
      font-weight: bold;
    }
  }
}

// Profile

.profile {
  display: flex;
  align-items: center;
  @extend %borderBot;
}

.profile__container {
  display: flex;
}

.profile__foto {
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
}

.profile__description {
  margin: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.profile__desc-name {
  margin: 0px 0px 15px 0px;
}

.profile__desc-proffesion {
  font-size: 22px;
  font-weight: bold;
}

// Contacts

.contacts {
  @extend %borderBot;
}

.contacts__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
    a {
      color: rgb(184, 184, 184);
    }
  }
}

// Targets

.targets {
  @extend %borderBot;
}

.targets__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
  }
}

//  Skills

.skills {
  @extend %borderBot;
}

.skills__container {
  display: flex;
}

.skills__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
  }
}

.html__skill,
.css__skill,
.js__skill,
.react__skill {
  display: flex;
  .circle__fill {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 50px;
    margin: 0px 0px 15px 7px;
  }
  .clear {
    background-color: transparent;
    border: 1px solid #fff;
  }
}

//  Additional information

.add-info {
  @extend %borderBot;
}

.add-info__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
  }
}

//  work examples

.examples {
  @extend %borderBot;
}

.examples__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
    a {
      color: #ffffff;
    }
    a:hover {
      color: #ffff00;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 880px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    padding: 0px 15px;
  }
  .container {
    align-items: center;
    text-align: center;
    font-size: 15px;
    word-break: break-all;
    margin: 0px 5px;
    width: 100%;
  }

  .nav {
    margin: 0px 0px 20px 0px;
    li {
      margin: 0px 10px 0px 0px;
    }
  }

  .profile__container {
    display: flex;
    flex-direction: column;
    .profile__foto {
      margin: 0px 0px 10px 0px;
    }
  }

  %borderBot {
    padding: 0px 0px 20px 0px;
  }
}
