@charset "UTF-8";

$colorBorderBott: #ffe600;
$colorBcGnd: #314a68;

@import "_default";
@import "_fonts";
@import "_burgerMenu";

%borderBot {
  margin: 0px 50px 20px 55px;
  padding: 0px 0px 50px 0px;
  border-bottom: 1px solid $colorBorderBott;
  @media (max-width: 767px) {
    margin: 0px 10px 5px 10px;
  }
}

// del shake when  burger-menu is opening
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.wrapper {
  max-width: 880px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 20px;
  max-width: 1280px;
  color: #fff;
  background: $colorBcGnd;
}

.container {
  margin: 0 auto;
  width: calc(880px - 110px);
}

.title {
  line-height: 23px;
  letter-spacing: 0.15em;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0px 30px 0px;
  word-break: break-word;
  word-wrap: break-word;
}

.main__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: $colorBcGnd;
  text-align: center;
}

// Profile

.profile {
  display: flex;
  align-items: center;
  @extend %borderBot;
}

@media (max-width: 767px) {
  .profile {
    margin: 70px 0px 0px 0px;
  }
}

.profile__container {
  display: flex;
}

@media (max-width: 767px) {
  .profile__container {
    margin: 0 auto;
  }
}

.profile__foto {
  width: 200px;
  height: 200px;
  background-image: url("../img/ava3.jpg");
  background-size: cover;
  border-radius: 50%;
}

.profile__description {
  margin: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

@media (max-width: 767px) {
  .profile__description {
    align-items: center;
    margin: 0 auto;
  }
}

.profile__desc-name {
  text-align: center;
  font-size: 120%;
  margin: 0px 0px 15px 0px;
  text-align: left;
}

@media (max-width: 767px) {
  .profile__desc-name {
    text-align: center;
  }
}

.profile__desc-proffesion {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0px 15px 0px;
}

// Contacts

.contacts {
  @extend %borderBot;
}

.contacts__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
    a {
      color: #b8b8b8;
    }
    a:hover {
      color: $colorBorderBott;
    }
  }
}

// Targets

.targets {
  @extend %borderBot;
}

.targets__desc {
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  li {
    margin: 0px 0px 10px 0px;
  }
}

//  Skills

.skills {
  @extend %borderBot;
}

.skills__container {
  display: flex;
}

.skills__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
  }
}

.html__skill,
.css__skill,
.js__skill,
.react__skill {
  display: flex;
  .circle__fill {
    z-index: 0;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 50px;
    margin: 0px 0px 15px 7px;
  }
  .clear {
    background-color: transparent;
    border: 1px solid #fff;
  }
}

//  Additional information

.add-info {
  @extend %borderBot;
}

.add-info__desc {
  text-align: left;
  word-break: break-word;
  word-wrap: break-word;
  li {
    margin: 0px 0px 10px 0px;
  }
}

//  work examples

.examples {
  @extend %borderBot;
}

.examples__desc {
  text-align: left;
  li {
    margin: 0px 0px 10px 0px;
    a {
      color: #ffffff;
    }
    a:hover {
      color: $colorBorderBott;
    }
  }
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 880px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 100%;
    padding: 0px 15px;
  }
  .container {
    align-items: center;
    text-align: center;
    font-size: 15px;
    word-break: break-all;
    margin: 0px 5px;
    width: 100%;
  }

  .nav {
    margin: 0px 0px 20px 0px;
    li {
      margin: 0px 10px 0px 0px;
    }
  }

  .profile__container {
    display: flex;
    flex-direction: column;
    .profile__foto {
      margin: 0px 0px 10px 0px;
    }
  }

  %borderBot {
    padding: 0px 0px 20px 0px;
  }
}

@media (max-width: 767px) {
  document,
  body,
  .wrapper,
  .contianer {
    overflow-x: hidden;
  }
}
